<div class="jumbotron text-center">
  <div class="row">
    <div class="col">
      <mat-form-field appearance="fill">
        <select
          matNativeControl
          matInput
          (change)="onDeviceSelectChange($event.target.value)"
        >
          <option value="" [selected]="!currentDevice">
            No Device Selected
          </option>
          <option
            *ngFor="let device of availableDevices"
            [value]="device.deviceId"
            [selected]="
              currentDevice && device.deviceId === currentDevice.deviceId
            "
          >
            {{ device.label }}
          </option>
        </select>
      </mat-form-field>
      <div class="container" style="width: 400px">
        <zxing-scanner
          [(device)]="currentDevice"
          (scanSuccess)="onCodeResult($event)"
          [formats]="formatsEnabled"
          [tryHarder]="tryHarder"
          (permissionResponse)="onHasPermission($event)"
          (camerasFound)="onCamerasFound($event)"
          (torchCompatible)="onTorchCompatible($event)"
        ></zxing-scanner>
      </div>
      <!-- <img *ngIf="camara" src="assets/precarga-usco.gif" alt="USCO" /> -->
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h5 class="display-4">{{ titulo }}</h5>
      <div class="row">
        <div class="col">
          <qrcode
            [qrdata]="qrCodeOne"
            [width]="256"
            colorLight="#ffffff"
            colorDark="#1E262B"
            [errorCorrectionLevel]="'M'"
          ></qrcode>
          <br />
          <p>Correcto</p>
        </div>
        <div class="col">
          <qrcode
            [qrdata]="qrCodeTwo"
            [width]="256"
            colorLight="#ffffff"
            colorDark="#1E262B"
            [errorCorrectionLevel]="'M'"
          ></qrcode>
          <br />
          <p>Incorrecto</p>
        </div>
      </div>
    </div>
  </div>
</div>
